body{
    padding: 0;
    margin: 0;
}
.fondo-div{
    background-color: rgb(204, 137, 11);
    padding: 1%;
    text-align: center;

}
.ti1{
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    line-height: 1.1;
}
.p1-div{
    text-align: center;
    color: honeydew;
    font-size: 17px;
}
.h2-detallada{
    text-align: center;
}

li{
    text-align: center;
    list-style-type: none;
}
ul a{
    text-decoration: none;
    font-size: 18px;
}
.h2-item{
    text-align: center;
} 
p{
    text-align: center;
    font-size: 150%;
}